$main-font-family: 'Manrope', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$main-font-family-serif: 'Noto Serif', georgia, serif;
$main-font-base-size: 17px;
$main-font-size: 1rem;
$main-line-height: 1.5rem;
$main-font-size-h1: 3rem;
$main-font-h1-line-height: 3.75rem;
$main-font-size-h2: 2rem;
$main-font-h2-line-height: 2.5rem;
$main-font-size-h3: 1.75rem;
$main-font-h3-line-height: 2.25rem;
$main-font-size-h4: 1.25rem;
$main-font-h4-line-height: 1.75rem;
$main-font-size-h5: 1rem;
$main-font-h5-line-height: 1.25rem;
$main-font-size-h6: .75rem;
$main-font-h6-line-height: 1rem;
$main-lead-size: 1.75rem;
$main-lead-line-height: 2.25rem;
$main-sublead-size: 1.25rem;
$main-sublead-line-height: 2rem;
$main-color-base: #1d1d1d;
$main-color-primary: #18777A;
$main-color-primary-hover: #B9D6D7;
$main-color-secondary: #694115;
$main-color-thirdy: #D2DE3C;
$main-color-fourthy: #D91E23;

$mobile-width: 640px;
$mobile-font-base-size: 16px;
$mobile-font-size-h1: 2rem;
$mobile-font-h1-line-height: 2.75rem;
$mobile-font-size-h2: 1.5rem;
$mobile-font-h2-line-height: 1.85rem;
$mobile-font-size-h3: 1.25rem;
$mobile-font-h3-line-height: 1.75rem;
$mobile-font-size-h4: 1.15rem;
$mobile-font-h4-line-height: 1.5rem;
$mobile-font-size-h5: 1rem;
$mobile-font-h5-line-height: 1.25rem;
$mobile-font-size-h6: .75rem;
$mobile-font-h6-line-height: 1rem;
$mobile-lead-size: 1.25rem;
$mobile-lead-line-height: 1.75rem;
$mobile-sublead-size: 1rem;
$mobile-sublead-line-height: 1.5rem;
