{{ define "main" }}

    <article class="blog-article">
        <div class="main-container">
            <div class="blog-article__hero">
            
            <p class="blog-article__back">
                <a href="/blog" class="link-arrow left">Voltar aos artigos</a>
            </p>

            <h1>{{ .Title }}</h1>

            <div class="blog-article__subline">
                <p>Escrito por {{ .Params.author }}</p> 
                <p>Publicado em {{ .Date.Format "02 Jan, 2006"}}</p>
            </div>

            <div class="blog-article__image">
                {{ $blog := .Site.GetPage "section" "blog" }}
                <img
                    class="lazyload"
                    alt="Grupo Reinserir"
                    loading="lazy"
                    src="{{ (($blog.Resources.GetMatch .Params.thumbnail).Resize "10x").RelPermalink }}"
                    data-src="{{ (($blog.Resources.GetMatch .Params.thumbnail)).RelPermalink }}" />
            </div>

            <div class="sublead-content">
                {{ .Content }}
            </div>

            <div class="blog-article__share">
                <p>Compartilhar</p>
                <a href="http://www.facebook.com/sharer.php?u={{ .Permalink | absURL }}"
                    class="btn btn--facebook" target="_blank">Facebook</a>
                <a href="https://twitter.com/share?url={{ .Permalink | absURL }}"
                    class="btn btn--twitter" target="_blank">Twitter</a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | absURL }}"
                    class="btn btn--linkedin" target="_blank">Linkedin</a>
            </div>
        </div>
    </article>


{{ end }}
