<div class="articles-block" data-aos="fade-up">
    <div class="full-container">
        <div class="articles-block__title">
            <h3>Notícias & Artigos</h3>
            <p class="articles-block__link">
                <a href="/blog" class="link-arrow">Veja mais em nosso Blog</a>
            </p>
        </div>

        {{ $blog := .Site.GetPage "section" "blog" }}
        {{ with $blog }}

        <div class="articles-block__columns">
            {{ range first 2 .Pages }}
                <div class="articles-block__column">
                    <div class="article-block-item">
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>

                        <p class="article-block-item__author">
                            Escrito por {{ .Params.author }}</p>

                        <div class="article-block-item__description">
                             {{ .Content | plainify | truncate 190 }}
                        </div>

                        <div class="article-block-item__button">
                            <a href="{{ .Permalink }}" class="link-arrow">Leia o artigo</a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>

        {{ end }}
    </div>
</div>
