<aside class="aside-contact" data-aos="fade-up">
    <div class="aside-contact__address">
        <h4>Nosso endereço</h4>
        
        <address>
            Rua Barão de Itapetininga, 273<br />
            10º andar, sala 1.<br />
            CEP 01042-913<br />
            São Paulo, SP<br />
        </address>

        <p><a href="https://goo.gl/maps/nY6ZPo9XxUDPBs8G6" rel="noreferer" class="link-arrow">Como chegar</a></p>
    </div>

    <div class="aside-contact__phone">
        <h4>Nosso telefone e whatsapp</h4>
        <p class="phone">(11) 95106-4510</p>
        <p class="aside-contact__whatsapp"><a href="https://wa.me/+55011951064510?text=olá%20Reinserir" class="link-arrow">Chamar no Whatsapp</a></p>
    </div>

    <div class="aside-contact__curriculo">
        <h4>Quer trabalhar na Reinseir <br />ou em algum parceiro?</h4>
        <p><a href="/" class="link-arrow">Cadastre seu currículo</a></p>
    </div>
</aside>
