<footer class="main-footer">
    <div class="full-container">
        <div class="main-footer__column">
            <img src="/images/reinserir-completo.svg" class="main-footer__logo" alt="Grupo Reinserir" />
        </div>

        <div class="main-footer__column">
            <div class="main-footer__columns">
                <div class="main-footer__address">
                    <address>
                        <p>Rua Barão de Itapetininga, 273<i>,</i> <span>10º andar, sala 1 — República</span></p>
                        <p>CEP 01042-913 — São Paulo, SP <i>—</i> <a href="https://goo.gl/maps/nY6ZPo9XxUDPBs8G6" target="_blank" rel="noreferrer">Como chegar</a></p>
                    </address>
                </div>

                <div class="main-footer__social-icons">
                    <a href="https://www.instagram.com/gruporeinserir/" rel="noreferrer" target="_blank" class="link link--instagram">Instagram</a>
                    <a href="https://www.facebook.com/gruporeinserir" target="_blank" rel="noreferrer" class="link link--facebook">Facebook</a>
                    <a href="https://www.tiktok.com/@gruporeinserirpsicologia" target="_blank" rel="noreferrer" class="link link--tiktok">TikTok</a>
                </div>
            </div>

            <div class="main-footer__columns">
                <nav>
                    <h4>Nos conheça</h4>
                    <ul>
                        <li><a href="/oque-fazemos">Conheça nossos serviços</a></li>
                        <li><a href="/quem-somos#nosso-espaco">Conheça nosso espaço</a></li>
                        <li><a href="/quem-somos#nossa-equipe">Conheça nossa equipe</a></li>
                        <li><a href="/perguntas-frequentes">Perguntas frequentes</a></li>
                    </ul>
                </nav>

                <nav>
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="/agende">Agende uma sessão</a></li>
                        <li><a href="/cadastro-paciente">Cadastro de paciente</a></li>
                        <li><a href="/fale-conosco">Fale conosco</a></li>
                        <li><a href="/trabalhe-conosco">Trabalhe conosco</a></li>
                    </ul>
                </nav>

                <nav>
                    <h4>Mais da Reinserir</h4>
                    <ul>
                        <li><a href="/blog">Nosso Blog</a></li>
                        <li><a href="https://www.facebook.com/gruporeinserir" target="_blank" rel="noreferrer">Facebook</a></li>
                        <li><a href="https://www.instagram.com/gruporeinserir/" target="_blank" rel="noreferrer">Instagram</a></li>
                        <li><a href="https://www.linkedin.com/company/gruporeinserir20/" target="_blank" rel="noreferrer">Linkedin</a></li>
                        <li><a href="https://twitter.com/gruporeinserir" target="_blank" rel="noreferrer">Twitter</a></li>
                        <li><a href="https://www.tiktok.com/@gruporeinserirpsicologia" target="_blank" rel="noreferrer">TikTok</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="full-container main-footer__copy">
        <div>
            <p><span>Grupo Reinserir Psicologia</span>
                <i>–</i><span>CNPJ 39.528.093/0001-67</span>
                <i>–</i><span>CRP 8822J</span>
            </p>
            <p>© 2021 - Todos os diretos reservados</p>
        </div>
        <div class="main-footer__yupper">
            <p>Webdesign by</p>
            <p><a href="http://yupper.digital" target="_blank" rel="noreferrer">
                <img src="/images/yupper.svg" alt="Yupper" /></a></p>
        </div>
    </div>
</footer>
