<header class="main-header">
    <div class="main-header__logo">
        <a href="/">
            <img src="/images/reinserir.svg" alt="Grupo Reinseirir" />
        </a>
    </div>

    <nav id="main-navigation" class="main-navigation">
        <ul>
            <li><a href="/quem-somos" {{ if eq .Permalink "/quem-somos/"}}class="current"{{end}}>Quem Somos</a></li>
            <li><a href="/oque-fazemos" {{ if eq .Permalink "/oque-fazemos/"}}class="current"{{end}}>O que fazemos</a></li>
            <li><a href="/blog" {{ if eq .Permalink "/blog/"}}class="current"{{end}}>Blog</a></li>
            <li><a href="/fale-conosco" {{ if eq .Permalink "/fale-conosco/"}}class="current"{{end}}>Fale Conosco</a></li>
            <li><a href="/agende" class="link-special {{ if eq .Permalink "/agende/"}}current{{end}}">Agende uma sessão</a></li>
        </ul>

        <ul class="main-navigation__social">
            <li><a href="https://www.facebook.com/gruporeinserir" target="_blank" rel="noreferrer" class="social social--facebook">Facebook</a></li>
            <li><a href="https://www.instagram.com/gruporeinserir/" target="_blank" rel="noreferrer" class="social social--instagram">Instagram</a></li>
            <li><a href="https://www.tiktok.com/@gruporeinserirpsicologia" target="_blank" rel="noreferrer" class="social social--tiktok">TikTok</a></li>
        </ul>
    </nav>
    
    <button
        class="main-header__button-mobile-menu"
        aria-label="See Menu"
        onClick="openMenuMobile(event)"></button>
</header>

<script>
    function openMenuMobile(e) {
        e.preventDefault();
        e.target.classList.toggle('is-active');
        document.getElementById('main-navigation').classList.toggle('is-active');
    }
</script>
