<div id="midia" class="media-block media-block--list" data-aos="fade-up">
    <div class="full-container">
        <div class="media-block__title">
            <h3>Na mídia</h3>
        </div>

        {{ $midia := .Site.GetPage "section" "midia" }}
        {{ with $midia }}

        <div class="media-block__columns">
            {{ range .Pages }}
                <div class="media-block__column">
                    <div class="media-block-item">
                        <figure>
                            <img
                                class="lazyload"
                                alt="Grupo Reinserir"
                                loading="lazy"
                                src="{{ (($midia.Resources.GetMatch .Params.thumbnail).Resize "10x").RelPermalink }}"
                                data-src="{{ (($midia.Resources.GetMatch .Params.thumbnail).Resize "x400").RelPermalink }}" />
                        </figure>

                        <h4>{{ .Title }}</h4>

                        <div class="media-block-item__button">
                            <a href="{{ .Params.link.link_href }}" target="_blank" rel="noreferrer">Leia o artigo</a>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>

        {{ end }}
    </div>
</div>
